Node-red flow.txt
[{"id":"a6a89f2a.cbc95","type":"serial in","z":"a7c505fd.e93b18","name":"","serial":"a3256381.c8cc7","x":128,"y":245,"wires":[["212f4c3e.527144","f698fb0b.ee2728","5719839f.9d554c"]]},{"id":"212f4c3e.527144","type":"debug","z":"a7c505fd.e93b18","name":"","active":true,"console":"false","complete":"false","x":404,"y":388,"wires":[]},{"id":"21506ac9.af4916","type":"blynk-websockets-out-write","z":"a7c505fd.e93b18","name":"Humidity","pin":"3","client":"dc8dbaac.720428","x":680,"y":98,"wires":[]},{"id":"f698fb0b.ee2728","type":"function","z":"a7c505fd.e93b18","name":"Humidity","func":"// regarding how you setup the message from the arduino sensor, \n// the message must be split into a usable value for Blynk.\n\nvar str = msg.payload;\nvar res = Number(str.substring(9,15));\nmsg.payload=res;\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":161,"wires":[["21506ac9.af4916"]]},{"id":"5719839f.9d554c","type":"function","z":"a7c505fd.e93b18","name":"Temperature","func":"// regarding how you setup the message from the arduino sensor, \n// the message must be split into a usable value for Blynk.\nvar str = msg.payload;\nvar res = Number(str.substring(24,31));\nmsg.payload=res;\nreturn msg;","outputs":1,"noerr":0,"x":408,"y":284,"wires":[["2240596b.0a3b86"]]},{"id":"2240596b.0a3b86","type":"blynk-websockets-out-write","z":"a7c505fd.e93b18","name":"Temperature","pin":"4","client":"dc8dbaac.720428","x":683,"y":283,"wires":[]},{"id":"3b2cd22f.6efd8e","type":"comment","z":"a7c505fd.e93b18","name":"Remark","info":"Serial connection:\nWhen you have no permission to use the serial connection, enter this command to your linux console.\n\nsudo adduser <Myuser> dialout (Replace Myuser to your user)\nsudo chmod a+rw /dev/ttyUSB0","x":129,"y":208,"wires":[]},{"id":"c4aa4222.d982a","type":"comment","z":"a7c505fd.e93b18","name":"Remark","info":"Project Key: Enter Your autorisation key here given from Blynk ","x":683,"y":60,"wires":[]},{"id":"a3256381.c8cc7","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"dc8dbaac.720428","type":"blynk-websockets-client","z":"","name":"Ton","path":"ws://blynk-cloud.com:8082/websocket","key":""}]
